body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #8408e4;
}

th {
    background-color: #0aed28;
}

tr:nth-child(even) {
    background-color: #e4e80b;
}

tr:nth-child(odd) {
    background-color: #760be8;
}

tr:hover {
    background-color: #f414da;
}
